html, body {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  font-family: arial;
  background: #00706b;
}

.container {
  border-radius: 5px;
  width: 250px;
  height: 210px;
  background: black;
  overflow: hidden;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.top {
  background: #ffc400;
  height: 50px;
  padding: 20px 20px 0 20px;
}

.top__left {
  text-align: left;
  float: left;
}

.top__right {
  float: right;
  text-align: right;
}

.top__title, .top__money {
  font-size: 12px;
  margin: 0;
}

.top__title {
  padding: 0 0 5px;
}

.top__money {
  padding: 5px 0 0;
}

.top__text, .top__date {
  margin: 0 0 0 0;
  font-size: 9px;
}

.bottom {
  height: calc(100% - 70px);
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.legend {
  margin: 10px 10px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 20px;
}

.legend__red {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legend__blue {
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.legend__red-line {
  width: 10px;
  height: 100%;
}

.legend__blue-line {
  width: 10px;
  height: 100%;
}

.legend__text {
  margin: 5px;
  font-size: 10px;
}

.legend__red-svg {
  stroke: #ec5f5f;
  stroke-width: 3;
}

.legend__blue-svg {
  stroke: #5f9aec;
  stroke-width: 3;
}

.lines {
  position: absolute;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 70px;
}

.points {
  height: 70px;
  width: 250px;
}

.points__red {
  height: 40px;
}

.points svg {
  z-index: 1;
}

.points__red-polyline {
  stroke: #ec5f5f;
  stroke-width: 3;
  fill: none;
  -webkit-transform: scale(0.9) translateX(10px);
          transform: scale(0.9) translateX(10px);
}

.points__blue-polyline {
  display: inline-block;
  stroke: #5f9aec;
  stroke-width: 3;
  fill: none;
  top: 0;
  -webkit-transform: scale(0.9) translateX(10px) translateY(-45px);
          transform: scale(0.9) translateX(10px) translateY(-45px);
}

.day {
  position: relative;
  z-index: 99;
  font-size: 10px;
  float: left;
  text-align: center;
  width: 14.28571%;
  margin-top: 5px;
}

.red-point-1 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 147px;
  left: 15px;
  background: #ec5f5f;
}

.red-point-1:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "147";
  background: #ec5f5f;
}

.red-point-1:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-1:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-1:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-2 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 118px;
  left: 50px;
  background: #ec5f5f;
}

.red-point-2:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "118";
  background: #ec5f5f;
}

.red-point-2:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-2:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-2:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-3 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 127px;
  left: 87px;
  background: #ec5f5f;
}

.red-point-3:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "127";
  background: #ec5f5f;
}

.red-point-3:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-3:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-3:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-4 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 117px;
  left: 122px;
  background: #ec5f5f;
}

.red-point-4:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "117";
  background: #ec5f5f;
}

.red-point-4:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-4:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-4:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-5 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 140px;
  left: 158px;
  background: #ec5f5f;
}

.red-point-5:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "140";
  background: #ec5f5f;
}

.red-point-5:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-5:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-5:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-6 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 149px;
  left: 195px;
  background: #ec5f5f;
}

.red-point-6:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "149";
  background: #ec5f5f;
}

.red-point-6:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-6:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-6:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.red-point-7 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 125px;
  left: 229px;
  background: #ec5f5f;
}

.red-point-7:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "125";
  background: #ec5f5f;
}

.red-point-7:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #ec5f5f;
}

.red-point-7:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.red-point-7:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-1 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 161px;
  left: 15px;
  background: #5f9aec;
}

.blue-point-1:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "147";
  background: #5f9aec;
}

.blue-point-1:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-1:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-1:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-2 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 152px;
  left: 50px;
  background: #5f9aec;
}

.blue-point-2:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "118";
  background: #5f9aec;
}

.blue-point-2:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-2:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-2:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-3 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 164px;
  left: 87px;
  background: #5f9aec;
}

.blue-point-3:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "127";
  background: #5f9aec;
}

.blue-point-3:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-3:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-3:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-4 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 156px;
  left: 122px;
  background: #5f9aec;
}

.blue-point-4:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "117";
  background: #5f9aec;
}

.blue-point-4:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-4:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-4:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-5 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 161px;
  left: 158px;
  background: #5f9aec;
}

.blue-point-5:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "140";
  background: #5f9aec;
}

.blue-point-5:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-5:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-5:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-6 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 172px;
  left: 195px;
  background: #5f9aec;
}

.blue-point-6:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "149";
  background: #5f9aec;
}

.blue-point-6:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-6:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-6:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.blue-point-7 {
  position: absolute;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  top: 164px;
  left: 229px;
  background: #5f9aec;
}

.blue-point-7:after {
  z-index: 2;
  opacity: 0.7;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  font-size: 11px;
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 30px;
  -webkit-transform: translate(-12px, -20px);
          transform: translate(-12px, -20px);
  border-radius: 2px;
  content: "125";
  background: #5f9aec;
}

.blue-point-7:before {
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  content: '';
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-2px, -5px) scaleX(1.5);
          transform: translate(-2px, -5px) scaleX(1.5);
  -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
          clip-path: polygon(50% 100%, 0 0, 100% 0);
  background: #5f9aec;
}

.blue-point-7:hover:before {
  opacity: 1;
  -webkit-transform: translate(-2px, -10px) scaleX(1.5);
          transform: translate(-2px, -10px) scaleX(1.5);
  visibility: visible;
}

.blue-point-7:hover:after {
  opacity: 1;
  -webkit-transform: translate(-12px, -25px);
          transform: translate(-12px, -25px);
  visibility: visible;
}

.line-1 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1;
}

.line-2 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1;
}

.line-3 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1;
}
/*# sourceMappingURL=style.css.map */