html, body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-family: arial;
  background: #00706b; }

.container {
  border-radius: 5px;
  width: 250px;
  height: 210px;
  background: black;
  overflow: hidden;
  transform: scale(2); }

.top {
  background: #ffc400;
  height: 50px;
  padding: 20px 20px 0 20px; }
  .top__left {
    text-align: left;
    float: left; }
  .top__right {
    float: right;
    text-align: right; }
  .top__title, .top__money {
    font-size: 12px;
    margin: 0; }
  .top__title {
    padding: 0 0 5px; }
  .top__money {
    padding: 5px 0 0; }
  .top__text, .top__date {
    margin: 0 0 0 0;
    font-size: 9px; }

.bottom {
  height: calc(100% - 70px);
  background: white;
  display: flex;
  flex-direction: column; }

.legend {
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 20px; }
  .legend__red {
    text-align: end;
    display: flex; }
  .legend__blue {
    text-align: end;
    display: flex; }
  .legend__red-line {
    width: 10px;
    height: 100%; }
  .legend__blue-line {
    width: 10px;
    height: 100%; }
  .legend__text {
    margin: 5px;
    font-size: 10px; }
  .legend__red-svg {
    stroke: #ec5f5f;
    stroke-width: 3; }
  .legend__blue-svg {
    stroke: #5f9aec;
    stroke-width: 3; }

.lines {
  position: absolute;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 70px; }

.points {
  height: 70px;
  width: 250px; }
  .points__red {
    height: 40px; }
  .points svg {
    z-index: 1; }
  .points__red-polyline {
    stroke: #ec5f5f;
    stroke-width: 3;
    fill: none;
    transform: scale(0.9) translateX(10px); }
  .points__blue-polyline {
    display: inline-block;
    stroke: #5f9aec;
    stroke-width: 3;
    fill: none;
    top: 0;
    transform: scale(0.9) translateX(10px) translateY(-45px); }

.day {
  position: relative;
  z-index: 99;
  font-size: 10px;
  float: left;
  text-align: center;
  width: 14.2857142857%;
  margin-top: 5px; }

.red-point-1 {
  top: 147px;
  left: 15px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-2 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-3 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-4 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-5 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-6 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.red-point-7 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #ec5f5f;
  border-radius: 50%; }

.blue-point-1 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-2 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-3 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-4 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-5 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-6 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.blue-point-7 {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 7px;
  width: 7px;
  background: #5f9aec;
  border-radius: 50%; }

.line-1 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1; }

.line-2 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1; }

.line-3 {
  height: 1px;
  width: 90%;
  background: gray;
  opacity: 0.1; }

/*# sourceMappingURL=style.css.map */
