html, body
    height: 100%
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    background: hsl(208, 39%, 25%)

*
    font-family: arial

.container
    position: relative
    height: 300px
    width: 300px

.side
    transition: transform ease-in-out 0.7s
    margin: 0
    position: relative
    top: 0
    z-index: 1

.side--visible
    transform: translateX(-60px)

.main
    overflow: hidden
    background: hsl(0, 0%, 100%)
    position: absolute
    z-index: 3
    transition: transform ease-in-out 0.7s
    margin: 0
    height: 100%

.main--slide
    transform: translateX(120px)

.top
    background: hsl(208, 39%, 65%)
    padding: 15px 10px
    display: flex
    justify-content: space-between
    flex: auto

    &__hamburger
        cursor: pointer
        width: 30px
        height: 30px

    &__ham
        margin-top: 7px
        background: hsla(0, 0%, 100%, 0.74)
        display: block
        width: 20px
        height: 3px

    &__ham:after
        position: relative
        top: 5px
        background: hsla(0, 0%, 100%, 0.74)
        display: block
        width: 30px
        height: 3px
        content: ''

    &__ham:before
        position: relative
        border-radius: 10px
        top: -2px
        left: 23px
        background: hsla(0, 0%, 100%, 0.74)
        display: block
        width: 7px
        height: 7px
        content: ''

    &__title
        color: hsl(0, 0%, 100%)
        font-size: 1.3em
        font-weight: 100
        margin: 0
        margin-top: 3px

    &__search
        cursor: pointer
        color: hsla(0, 0%, 100%, 0.74)
        margin-top: 3px

    &__search-box
        outline: none
        padding-left: 15px
        width: 230px
        border: none
        border-radius: 20px
        height: 30px
        position: absolute
        opacity: 0
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out
        z-index: -1

    &__search-box--visible
        z-index: 1
        transform: translateX(-3px)
        opacity: 1

.bottom
    margin-left: 15px

    .line
        margin-left: 4px
        background: hsla(0, 100%, 0%, 0.2)
        width: 4px
        height: 25px



.post
    display: flex

    &__line-container
        display: inline-flex
        flex-direction: column

    &__dot
        margin-top: 2px
        left: -4px
        border-radius: 50%
        width: 8px
        height: 8px
        border: 2px solid hsl(208, 39%, 65%)

    &__line
        margin: 2px 4px 0
        background: hsla(0, 100%, 0%, 0.2)
        width: 4px
        height: 60px

    &__date
        font-weight: 100
        margin: 0

    &__content
        cursor: pointer
        position: relative
        margin: 0 10px 0

        > *
            margin: 0

    &__content:hover
        color: hsl(208, 39%, 65%)

    &__text
        margin: 5px 0

