.img-container .circle-1, .img-container .circle-2 {
  background: transparent;
  position: absolute;
  border-radius: 50%;
  border: 1px solid #88452b;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

* {
  color: #88452b;
}

html, body {
  font-family: arial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, right top, from(#EEBE6C), to(#CA7C4E));
  background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%);
}

.main {
  -webkit-box-shadow: 5px 5px 20px -10px black;
          box-shadow: 5px 5px 20px -10px black;
  height: 250px;
  width: 300px;
  background: white;
}

.left {
  width: 190px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.left .text {
  margin-top: 10px;
}

.left .text__title {
  font-size: 15px;
  margin: 0;
}

.left .text__paragraph {
  text-align: center;
  font-size: 9px;
  margin: 0;
}

.left .buttons {
  background: white;
  margin-top: 25px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.left .buttons > *:hover {
  background: #88452b;
  color: white;
}

.left .buttons > * {
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  font-size: 12px;
  background: white;
  border: #88452b 1px solid;
  border-radius: 10px;
}

.left .message {
  margin-top: 10px;
}

.img-container {
  position: relative;
  margin-top: 30px;
}

.img-container .circle-1 {
  top: -5%;
  left: -5%;
  height: 76px;
  width: 76px;
  border-left: 1px solid white;
}

.img-container .circle-2 {
  top: -9%;
  left: -9%;
  height: 82px;
  width: 82px;
  border-right: 1px solid white;
}

.img-container .img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.img-container:hover .circle-1 {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
}

.img-container:hover .circle-2 {
  -webkit-transform: rotate(-720deg);
          transform: rotate(-720deg);
}

.right {
  width: 110px;
  height: 250px;
  float: right;
}

.right .likes {
  margin-top: 1px;
}

.right .follower {
  margin-top: 1px;
}

.right > *:hover {
  background: #e7c1b1;
}

.right > * {
  -webkit-transition: background 0.5s ease-in-out;
  transition: background 0.5s ease-in-out;
  background: #f2ddd4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: calc((100% - 1.5px)/ 3);
  width: 100%;
}

.right > * > * {
  margin: 0;
}

.right > * > p {
  font-weight: 100;
  font-size: 9px;
  margin: 0;
}

.right > * > h1 {
  font-weight: bold;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */