$brown: hsl(17%, 52%, 35%)

*
    color: $brown

html, body
    font-family: arial
    display: flex
    align-items: center
    justify-content: center
    margin: 0
    width: 100%
    height: 100%
    background: linear-gradient(to top right, #EEBE6C 0%, #CA7C4E 100%)

.main
    height: 250px
    width: 300px
    background: hsl(0%, 0%, 100%)

.left
    width: 190px
    height: 300px
    display: flex
    flex-direction: column
    float: left
    align-items: center

    .img-container
        margin-top: 30px

    .img
        width: 70px
        border-radius: 50% 

    .text
        margin-top: 10px

        &__title
            font-size: 15px
            margin: 0

        &__paragraph
            text-align: center
            font-size: 9px
            margin: 0

    .buttons
        margin-top: 25px
        width: 60%
        display: flex
        flex-direction: column

        > *
            font-size: 12px
            background: hsl(0%, 0%, 100%)
            border: $brown 1px solid
            border-radius: 10px

    .message
        margin-top: 10px

.right
    width: 110px
    height: 250px
    float: right

    .likes
        margin-top: 1px

    .follower
        margin-top: 1px

    > *
        background: hsl(17%, 52%, 89%)
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: calc((100% - 1.5px)/ 3)
        width: 100%

        > *
            margin: 0

        > p
            font-weight: 100
            font-size: 9px
            margin: 0

        > h1
            font-weight: bold
            font-size: 15px